@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}
<head>
    <div style="background-color: white">
        <h1 class="text-center" style="background-color: darkred; color: yellow; "> Movie Gallery</h1>
    </div>
</head>
<body>
    <img src="\images\movieGallery.JPG" width="100%" height="400" alt="movieGallery" />
</body>