@page
@model MovieGallery.Pages.OurTeamModel
@{
    ViewData["Title"] = "Our Team";
}

<div class="card container border-dark">

    <div class="text-center">
        <h1 class="display-4 font-weight-bold jumbotron">Meet Our Team</h1>
    </div>
    <div class="row no-gutters">
        <div class="col-sm-5">
            <img src="\images\Rutuja.png" class="card-img-top h-75" alt="Rutuja Sawant" />
        </div>
        <div class="col-sm-7">
            <div class="card-body" style="background-color:white">
                <h2 class="card-title">Rutuja Sawant</h2>
                <p class="card-text">
                    <div>  Front End Developer </div>
                </p>
            </div>
        </div>
    </div>
    <hr />
    <div class="row no-gutters">
        <div class="col-sm-7">
            <div class="card-body" style="background-color:white">
                <h2 class="card-title">Mohini Chakravarty</h2>
                <p class="card-text">
                    Scrum Master
                </p>
            </div>
        </div>
        <div class="col-sm-5">
            <img src="\images\Mohini.png" class="card-img-top h-75" alt="Mohini" />
        </div>
    </div>
    <hr />
    <div class="row no-gutters">
        <div class="col-sm-5">
            <img src="/images/Gaytri.png" class="card-img-top h-75" alt="Gaytri" />
        </div>
        <div class="col-sm-7">
            <div class="card-body" style="background-color:white">
                <h2 class="card-title">Gaytri Khatwani</h2>
                <p class="card-text">
                    Back End Developer
                </p>
            </div>
        </div>
    </div>
</div>

<div class="text-center" style="background-color:lightgrey">
    <pre>
    Location: 222 Senator Place, Cincinnati, OH-45220
    Contact: 513-000-0000
    Email: moviegallery@support.com
    </pre>
</div>